#spiritBtn, #graveBtn, #castleBtn, #totoroBtn, #mononokeBtn, #porcoBtn{
    height: 300px;
    width: 250px;
    display:flexbox;
    
}

body{
    background-color: cadetblue;
}

.infoHere p{
    text-align: center;
    
}

.infoHere h3{
    text-align: center;
}

.infoHere{
    border
}